body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #5f6779;
  background-color: #fafffc;
  background-color: #f9f9f9;
  background-color: #f9fbff;
  
  display: grid;
  justify-items: center;
}
  h1 a {
    color: #37e;
  }
  #user-profiles {
    margin-bottom: 40px;
    padding-top: 35px;

    display: grid;
    grid-template: auto / minmax(250px, auto);
    /* grid-template: auto / repeat(3, minmax(300px, 500px)); */
    grid-row-gap: 25px;
  }
    .profile-card {
      padding: 15px 25px;
      /* border: 1px solid #bbb; */
      border-radius: 10px;
      /* box-shadow: 0px 1px 2px 0px #bbb; */
      box-shadow: 0px 1px 2px 1px #ddd;
      background-color: #fff;
    }
      .user-name {
        font-size: 1.2em;
        font-weight: bolder;
        color: #444;
      }

      .show-info-btn, .delete-btn {
        padding: 5px;
        border: none;
        border-radius: 5px;
        text-transform: capitalize;
        color: #fff;
        background-color: #5f6779;
        cursor: pointer;
        transition: .3s;
      }
      .show-info-btn:hover {
        background-color: #009fffdb;
      }
      .delete-btn:hover {
        background-color: #f993d6;
      }
      .show-info-btn {
        margin-right: 10px;
      }

      /* elements that are displayed when button "show info" is clicked */
      .name-and-location {
        padding: 10px;
        text-transform: capitalize;
        display: flex;
      }
      .name-and-location span {
        flex: auto;
        margin-left: 5px;
        font-style: italic;
      }

      .post-section {
        padding: 5px 20px 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
        .post {
          margin: 0 10px;
        }
          .post-title {
            font-size: .95em;
            margin-bottom: 8px;
          }
          .post-title:hover {
            margin-bottom: 8px;
            color: #333;
          }

          .post-comments {
            margin: 0 25px 25px 15px;
            padding: 0;
          }
            .comment {
              padding: 8px 0 4px;
              border-bottom: 1px solid #eee;
              list-style: none;
              font-size: .9em;
              color: #7282a8;
            }
            .comment:first-child {
              padding-top: 4px;
            }
            .comment::first-letter {
              text-transform: capitalize;
            }

      

      .todo-section {
        margin-top: 30px;
        padding: 5px 15px 20px;
        /* border: 1px solid #ccc;
        border-radius: 5px; */
      }
        .todos {
          margin: 0 10px;
        }
          .todo {
            padding-bottom: 4px;
            border-bottom: 1px solid #eee;
            font-size: .95em;
            font-style: italic;
          }
            .todo span {
              font-style: normal;
              color: lightseagreen;
            }



      .headingh3 {
        padding-bottom: 10px;
        border-bottom: 1px solid #bbb;
        font-size: 1.02em;
        font-weight: 600;
        text-transform: capitalize;
        color: #555;
      }